.post-header.-title {
    font-family: 'Muli';
    color: #1e2c30;
    position: relative;
}

.post-header.-title::before {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: 12px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    top: 100%;
    left: 10%;
    z-index: 1;
}

.title-post-link {
    color: inherit;
    font-size: 22.5px;
}

.title-post-link:hover {
    color: #ba2f1d;
}

.content.-blog {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.container-post {
    background-color: #fff;
    max-width: 375px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.post-thumbnail {
    overflow: hidden;
}

.img-thumbnail {
    max-width: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.img-thumbnail:hover {
    transform: scale(1.1);
    opacity: .8;
}

.post-content {
    padding: 10%;
}

.post-content > .excerpt-post {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17.1px;
    color: #444;
    line-height: 25.65px;
    font-weight: 300;
    margin-bottom: 40px;
}

.more-link {
    display: inline-block;
    margin: 20px 0 40px;
    color: #ba2f1d;
    text-transform: capitalize;
    border: 1px solid transparent;
    overflow: hidden;
}

.more-link::after {
    padding-left: 5px;
    content: "\02192";
}

.more-link:hover {
    overflow: hidden;
    border-bottom: 1px solid#ba2f1d;
}

.post-date {
    background-color:rgba(97,12,2,.1);
    padding: 20px 10%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14.4px;
    font-weight: 700;
    color: #ba2f1d;
    cursor: pointer;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.post-date > .icon {
    fill: #ba2f1d;
    vertical-align: middle;
}

.icon.-time {
    width: 14px;
    margin-right: 5px;
}

.icon.-comments {
   width: 20px;
   margin-left: 15px;
}

