a {
    text-decoration: none;
}

.img-background {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url('../img/cropped-background-pequeno-assurini-250.jpg');
}

@media(min-width: 768px) {
    .img-background {
        height: 413px;
        background-image: url('../img/cropped-background-pequeno-assurini.jpg');
    }
}

.container-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 40px;
}

.logo {
    max-width: 355px;
}

@media(min-width: 768px) {
    .logo {
        max-width: 100%;
    }
}

.social-icons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
}

.link-social-icon:not(:last-child) {
    margin-right: 20px;
}

.social-icon {
    width: 32px;
    fill: #fff;
    vertical-align: middle;
}

.social-icon:hover {
    fill: #ecb3ab;
}
