/* menu */

#input-menu {
    display: none;
}

#input-menu:checked ~ .list-items {
   transform: translateX(0);
}

label[for="input-menu"] {
    background-color: #172225;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
    text-transform: uppercase;
    padding: 30px 0 30px 20px;
    cursor: pointer;
}

@media(min-width: 768px) {
    label[for="input-menu"] {
        display: none;
    }
}

.main-menu {
    width: 100%;
    color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 14.4px;
    text-transform: uppercase;
    font-weight: 700;
}

.main-menu .list-items {
   transform: translateX(-100%); 
   transition: all 200ms ease-in-out;
   position: absolute;
   width: 100%;
}

@media(min-width: 768px) {
    .main-menu .list-items {
        transform: translateX(0);
        display: flex;
    }
}

.main-menu .menu-item {
    width: 100%;
    text-align: center;
    background-color: #172225;
}

.main-menu .menu-item-anchor {
    display: block;
    color: #fff;
    padding: 30px 0;
    opacity: 0.6;
}

.main-menu .menu-item-anchor:hover {
    opacity: 1;
}

.main-menu .sub-menu {
    overflow: hidden;
    width: 100%;
}

.sub-menu .menu-item {
    background-color: #1e2c30;
}

.sub-menu .menu-item:first-child {
    border-top: 1px solid #6c6c6c;
}

.sub-menu .menu-item {
    border-bottom: 1px solid #6c6c6c;
    text-align: left;
    padding-left: 40px;
}


@media(min-width: 768px) {

    .sub-menu {
        position: absolute;
        visibility: hidden;
        max-height: 0;
    }

    .menu-item:hover .sub-menu {
        visibility: visible;
        height: auto;
        max-height: 200px;
    }

    .sub-menu .menu-item {
        text-align: center;
        padding-left: 0;
    }

    .main-menu > .list-items {
        position: static;
    }

    .list-items > .menu-item {
        position: relative;
    }

    .list-items > .menu-item:before {
        content: "\002F";
        display: block;
        position: absolute;
        top: 30px;
        right: 0;
        opacity: .6;
    }

    .list-items > .menu-item:last-child::before {
        content: '';
    } 

    .menu-item .menu-item-anchor {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item.menu-item-has-children > .menu-item-anchor::after {
        content: '';
        display: block;
        border: 5px solid transparent;
        border-top-color: #fff;
        opacity: inherit;
        width: 1px;
        margin-top: 5px;
        margin-left: 10px;
    }
}

.sub-menu .menu-item-anchor {
    text-transform: capitalize;
}
