.post-title.-single {
    text-transform: initial;
}

.post-header {
    position: relative;
    border: 1px solid #ccc;
}

.post-header::after, .post-header::before {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 10%;
    z-index: 1;
}

.post-header::before {
    border-top: 12px solid #ccc;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.post-header::after {
    border-top: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    margin-left: 1px;
}

.post-thumbnail-single-container {
    display: flex;
    justify-content: center;
    margin: 10% 0;
    overflow: hidden;
}

.post-thumbnail-single-container .thumbnail-post-single {
    max-width: 768px;
    width: 100%;
    height: auto;
}

.post-content-single .paragraph-content {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 18px;
    line-height: 32.4px;
    width: 80%;
    margin: 0 auto;
}

.post-meta-container {
    width: 100%;
    display: flex;
}

@media( max-width: 838px ) {
    .post-meta-container {
        flex-direction: column;
    }
}

.entry-author {
    padding: 30px;
    position: relative;
    color: #ffffff;
    width: 60%;
    background-color: #1e2c30;
}

@media( max-width: 838px ) {
    .entry-author {
        width: 100%;
    }
}

.entry-author::before, .entry-author::after {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
}

.entry-author::before {
    top: 0;
    height: 70px;
    width: 40px;
    background-color: #ba2f1d;
}

.entry-author::after {
    width: 0;
    height: 0;
    top: 50px;
    border: 20px solid transparent;
    border-right-color: #ba2f1d;
    border-left-color: #ba2f1d;
}

.author-title {
    font-family: "Muli", sans-serif;
    font-size: 19.8px;
    margin-left: 70px;
    margin-bottom: 15px;
}

.avatar-container {
    position: absolute;
    top: 25px;
    left: 33px;
    height: 70px;
}

.avatar {
    max-width: 100%;
    border-radius: 50%;
}

.author-bio {
    font-size: 15.7px;
    font-family: "Alegreya Sans", sans-serif;
    margin-left: 60px;
}

.icon.-archive-block {
    width: 40px;
    margin-right: 5px;
}

.circle-archive-container {
    fill: #fff;
    opacity: .1;
}

.icon.-archive-block:hover .circle-archive-container {
    fill: #ba2f1d;
    opacity: 1;
}

.archive-block-inner {
    fill: #fff;
    width: 15px;
    vertical-align: middle;
}

.author-link {
    color: #e57d6f;
    display: flex;
    align-items: center;
}

.post-meta {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 15.3;
    font-weight: 700;
    color: #ffffff;
    width: 41%;
    background-color: #3f4854;
    padding: 30px;
}

@media( max-width: 838px ) {
    .post-meta {
        width: 100%;
    }
}

.post-meta-single {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.post-categories-container {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding-bottom: 12px;
}

.post-categories a {
    color: #ffffff;
}

.post-categories a:hover {
    opacity: .6;
}

.post-meta-single > .icon.-time {
    fill: #fff;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.icon.-open-folder {
    fill: #fff;
    width: 15px;
    height: 15px;
    margin-right: 12px;
}

.navigation-next-preview {
    margin-top: 12px;
}

.nav-previous, .nav-next {
    display: flex;
}

.nav-next {
    margin-top: 12px;
}

.icon.-arrow-left, .icon.-arrow-right {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.nav-previous > a, .nav-next > a {
    color: #fff;
    margin-left: 12px;
    max-width: 250px;
}

.nav-previous > a:hover, .nav-next a:hover {
    opacity: .6;
}

#comments {
    padding: 10%;
}

#comment {
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#reply-title {
    font-family: 'Muli', sans-serif;
    font-size: 31.5px;
    margin-bottom: 15px;
}

#commentform > p {
    margin: 12px 0;
}

.comment-form-author label {
    margin: 12px 0;
    font-family: "Alegreya sans", sans-serif;
}

#author, #email {
    margin: 0 5%;
    padding-left: 10px;
    width: 90%;
}

#commentform > .form-submit {
    display: flex;
    justify-content: flex-end;
}

#submit {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 15px;
    color: #555;
    padding: 5px 10px;
    cursor: pointer;
}

#submit:hover {
    border: 1px solid #555;
}

#comments {
    font-family: "Alegreya Sans", sans-serif;
}

.comment-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment-avatar-author {
    float: left;
    margin-right: 10px;
}

.comment-header, .comment-text {
    margin-bottom: 10px;
}

.comment-author {
    color: #ff0000;
}

.comment-date:before {
    display: inline-block;
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    vertical-align: middle;
    margin: 5px 0;
}

.children {
    margin-top: 20px;
    margin-left: 50px;
}